<footer class="footer static-bottom">
    <div class="card text-center footer-transparent">
        <div class="card-header">
            <strong>AWS Summit 2020</strong>
        </div>
        <div class="card-body">
            <h5 class="card-title">Mindtree Foundation</h5>
            <p class="card-text">Let's join our hands to make some of the dreams a Reality.</p>
            <a href="https://www.mindtreefoundation.org/" class="btn btn-success">#BeTheGiveR</a>
        </div>
        <div class="card-footer text-muted">
            All rights reserved © 2020 Kusal Bandaru
        </div>
    </div>
</footer>