<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <h1>1 January, 2020 | TOWNHALL</h1>
            </div>
            <div class="col-12">
                <div class="presentation-title">AWS Summit 2020</div>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-outline-secondary btn-lg" routerLink="/sessions">Schedule</button>
            </div>
        </div>
    </div>
</div>